<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="main-content">
         {{>header}}

         <p>Use this site to get your weather information!</p>

         <form id="weatherForm">
            <input
            placeholder="Location"
            >
            <button type="submit">Search</button>
         </form>
         <P>Location: <span id="loc">{{query_location}}</span></P>
         <p>Forecast Temperature: <span id="lat">{{lati}}</span></p>

    </div>
   
    

    {{>footer}}
</body>
</html>